<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".AdminActivityStatistics"
            android:exported="false" />
        <!-- Corrected Typo in Activity Name -->
        <activity
            android:name=".OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminAcitivityListProduct"
            android:exported="false" />
        <activity
            android:name=".AddressActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeInfoActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminActivityAddMenu"
            android:exported="false" />
        <activity
            android:name=".OrderSuccessActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".CheckoutActivity"
            android:exported="true"
            android:label="Merchant Demo"
            android:launchMode="singleTask"
            tools:ignore="AppLinkUrlError">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity> <!-- Remaining Activities -->
        <activity
            android:name=".ListView_Database"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminActivitySplash"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminActivityLogin"
            android:exported="false" />
        <activity
            android:name=".productEdit"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminActivityMain"
            android:exported="false" />
        <activity
            android:name=".admin.AdminActivityAddCategory"
            android:exported="false" />
        <activity
            android:name=".admin.AdminActivitySignup"
            android:exported="false" />
        <activity
            android:name=".admin.AdminActivityListCategory"
            android:exported="false" />
        <activity
            android:name=".admin.AdminActivityListOrder"
            android:exported="false" />
        <activity
            android:name=".admin.AdminActivityStatistics"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Cloudinary Meta-Data -->
        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://692586855575142:_2MfEZB9hOuXENcRAGqx-30JvPQ@daz1udjeb" />
    </application>

</manifest>